* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(250, 247, 247);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  
  .player{
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .wrapper{
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    background-color: #7e6c0b;
  }
  
  .details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  }
  
  .track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  border-radius:15%;
  }
  
    .now-playing {
    font-size: 1rem;
    }
  
    .track-name {
    font-size: 3rem;
    }
  
    .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    }
  
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
  .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
      
    .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #00040c;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgba(248, 246, 246, 0.945);
    border: 3px solid #042250;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .volume_slider:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .volume_slider {
    width: 30%;
    }
    
    .current-time,
    .total-duration {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
  i,
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward,
  p{
    cursor: pointer;
  }
  
  .randomActive{
    color: rgb(7, 0, 0);
  }
  
  .rotate {
    animation: rotation 8s infinite linear;
  }
  
  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .stroke{
      height: 150%;
      width: 10px;
      border-radius: 50px;
      margin: 0 5px;
      animation: animate 1.4s linear infinite;
  }